:root {
  --primary-color:#00003D;
  --secondary-color:#03CCFF;
  --button-color:#29AFEC;
  --input-border-color:#E6E6E6;
  --text-color-dark:#000000;
  --text-color-white:#ffffff;
  --text-color-gray:#8B8B89;
  --h2-font-size:36px;
  --footer-links-font-size:20px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

a {
  transition: all 0.8s;
  text-decoration: none;
  box-shadow: none !important;
}

a:hover {
  transition: all 0.8s;
}

ul {
  list-style: none;
}

ul, p {
  padding: 0px;
  margin: 0px;
}

.btn {
  box-shadow: none !important;
}

.btn:hover {
  box-shadow: none !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.middle-heading .apps-img {
  margin: 30px 0px;
}
.middle-heading .apps-img button[type=button] {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-white);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  padding: 10px;
  border-radius: 20px;
}

.top-heading {
  background-color: var(--primary-color);
  width: 100%;
  height: 63px;
  line-height: 63px;
}
.top-heading .left-box {
  display: flex;
  align-items: center;
}
.top-heading .left-box span:nth-child(1) {
  color: var(--text-color-white);
  font-size: 20px;
  font-weight: 600;
}
.top-heading .left-box img.telephone {
  width: 17px;
  height: 15px;
  margin: 0px 20px 0px 10px;
}
.top-heading .left-box img.group-one {
  width: 32px;
  height: 32px;
  margin-inline-end: 40px;
}
.top-heading .left-box .form-switch {
  margin-inline-end: 40px;
}
.top-heading .left-box span.A {
  color: var(--text-color-white);
  font-size: 24px;
  font-weight: 500;
  display: block;
  margin-inline-end: 5px;
}
.top-heading .right-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color-white);
}
.top-heading .right-box p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}
.top-heading .right-box p:nth-child(2), .top-heading .right-box p:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
}

.middle-heading .logo-img {
  text-align: end;
}
.middle-heading .logo-img img {
  width: 165.993px;
  height: 130px;
}

hr {
  background: rgba(215, 215, 215, 0.83);
  width: 90%;
  margin: 1rem auto;
}

.bottom-heading {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
}
.bottom-heading .nav {
  background-color: var(--primary-color);
  border-radius: 40px;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}
.bottom-heading .nav .nav-item .nav-link {
  text-align: center;
}
.bottom-heading .nav .nav-item .nav-link p {
  color: var(--text-color-white);
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
}

.another-links .nav .nav-item {
  position: relative;
}
.another-links .nav .nav-item .nav-link {
  color: #939498;
  font-size: 18px;
  font-weight: 700;
}
.another-links .nav .nav-item .nav-link.active {
  color: var(--text-color-dark);
}
.another-links .nav .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #59B6E3;
  width: 85px;
  right: 0;
  bottom: -5px;
}
.another-links form {
  align-items: center;
  justify-content: end;
}
.another-links form input[type=search] {
  width: 339.564px;
  height: 42.402px;
  border: 1px solid var(--input-border-color);
  border-radius: 20px;
}
.another-links form svg {
  margin-inline-start: -2rem;
  color: var(--text-color-gray);
}

.hero {
  margin-bottom: 100px;
}
.hero .swiper-group .swiper-box .box-imgs {
  position: relative;
  background-image: url(../img/hero-bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 370px;
}
.hero .swiper-group .swiper-box .box-imgs .first-img img.hero-group {
  width: 100%;
  height: auto;
  margin-top: 30px;
  position: absolute;
  left: 35px;
}
.hero .swiper-group .swiper-box .box-imgs .hero-logo {
  position: absolute;
  bottom: 40px;
  left: 35px;
  width: 100%;
}
.hero .swiper-horizontal > .swiper-pagination-bullets,
.hero .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero .swiper-pagination-custom,
.hero .swiper-pagination-fraction {
  position: relative;
  z-index: 999;
  top: -40px;
  left: -150px;
}
.hero .swiper-horizontal > .swiper-pagination-bullets span,
.hero .swiper-pagination-bullets.swiper-pagination-horizontal span,
.hero .swiper-pagination-custom span,
.hero .swiper-pagination-fraction span {
  background-color: var(--text-color-white);
}
.hero .middle-box h4 {
  font-size: 25px;
  font-weight: 500;
  color: #035DA8;
}
.hero .middle-box p {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-dark);
}
.hero .finanace {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  background: #FFF;
}
.hero .finanace .nav-pills .nav-item {
  width: 50%;
  background-color: var(--primary-color);
}
.hero .finanace .nav-pills .nav-item .nav-link {
  padding: 10px 11px;
  margin: 0;
  color: var(--text-color-white);
  border-radius: 0px;
  font-size: 13px;
}
.hero .finanace .nav-pills .nav-item .nav-link.active {
  background-color: var(--primary-color);
}
.hero .finanace .nav-text p {
  color: var(--text-color-dark);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.hero .finanace .nav-text p.bg-blu {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  font-weight: 500;
  text-align: center;
  color: var(--text-color-white);
  width: 60%;
  padding: 7px 0px;
  margin: auto;
}
.hero .finanace .nav-text .text-border {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background: #F3F3F3;
  width: 80%;
  margin: 7px auto;
}
.hero .finanace .nav-text .text-border p {
  color: var(--text-color-gray);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 7px 0;
}
.hero .finanace .nav-text .text-non-border {
  border-radius: 5px;
  background: #F3F3F3;
  width: 80%;
  margin: 7px auto;
}
.hero .finanace .nav-text .text-non-border p {
  color: var(--text-color-gray);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 7px 0;
}

.products {
  padding: 100px 0;
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.4) 40.39%, rgba(178, 178, 178, 0) 100%);
}
.products .all-content {
  margin-bottom: 15px;
}
.products .all-content .box-img {
  position: relative;
  height: 250px;
}
.products .all-content .box-img img {
  width: 100%;
  height: 250px;
}
.products .all-content .box-img .clipe-shape {
  left: 0;
  position: absolute;
  bottom: 0;
  background-color: var(--secondary-color);
  opacity: 0.6;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%, 0 100%);
          clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%, 0 100%);
  width: 50%;
  height: 60%;
}
.products .all-content .box-text {
  height: 88px;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.products .all-content .box-text p {
  font-size: 20px;
  font-weight: 700;
}
.products .all-content .box-text span {
  display: flex;
  flex-direction: column;
}
.products .all-content .box-text span a {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--text-color-white);
}

.testimonials .item {
  height: 500px;
}
.testimonials .item .shadow-effect .bg-blue {
  position: relative;
  background-image: url(../img/center-bg-blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}
.testimonials .item .shadow-effect .bg-blue .all-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonials .item .shadow-effect .bg-blue .all-content img {
  width: 210px;
  height: 130px;
}
.testimonials .item .shadow-effect .bg-blue .all-content p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
}
.testimonials .item .shadow-effect .bg-blue-reverse {
  position: relative;
  background-image: url(../img/center-bg-reverse.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}
.testimonials .item .shadow-effect .bg-blue-reverse .all-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonials .item .shadow-effect .bg-blue-reverse .all-content img {
  width: 210px;
  height: 130px;
}
.testimonials .item .shadow-effect .bg-blue-reverse .all-content p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
}
.testimonials #customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.testimonials #customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
.testimonials #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: var(--text-color-gray);
  display: inline-block;
  height: 30px;
  margin: 0px;
  transform: translate3d(0px, -50%, 0px) scale(0.5);
  transition: all 250ms ease-out 0s;
  width: 30px;
  border-radius: 50%;
}
.testimonials #customers-testimonials.owl-carousel .owl-dots .owl-dot.active span, .testimonials #customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: var(--text-color-gray);
  border: 3px solid var(--secondary-color);
  transform: translate3d(0px, -50%, 0px) scale(0.8);
}

.related-parties {
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.4) 40.39%, rgba(178, 178, 178, 0) 100%);
  padding: 30px 0 100px;
}
.related-parties h2 {
  font-size: 20px;
}
.related-parties .owl-carousel .owl-stage {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.related-parties .owl-carousel .owl-stage .owl-item {
  margin: 0px 20px;
}

.swiper-slide .box-swiper {
  padding: 3.3rem 1rem 31rem;
  width: 100%;
  height: 400px;
}
.swiper-slide .box-swiper .first-item {
  position: relative;
}
.swiper-slide .box-swiper .first-item img {
  width: 100%;
}
.swiper-slide .box-swiper .first-item .all-content {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-slide .box-swiper .first-item .all-content img {
  width: 210px;
  height: 130px;
}
.swiper-slide .box-swiper .first-item .all-content p {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  margin-top: 0px;
}
.swiper-slide .box-swiper .first-item .inner-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--text-color-white);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid var(--primary-color);
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%, -25px);
}
.swiper-slide .box-swiper .first-item .inner-circle p {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}
.swiper-slide .box-swiper .first-item .inner-reverse-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--text-color-white);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid var(--primary-color);
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translate(-50%, -25px);
}
.swiper-slide .box-swiper .first-item .inner-reverse-circle p {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

.footer {
  padding: 50px 0px;
  height: 577px;
  background-color: var(--primary-color);
}
.footer h3 {
  font-size: var(--h2-font-size);
  font-weight: 700;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
.footer ul li {
  margin-bottom: 15px;
}
.footer ul li a {
  color: var(--text-color-white);
  font-size: var(--footer-links-font-size);
  font-weight: 500;
}
.footer hr {
  width: 60%;
  margin: 15px auto;
  color: var(--text-color-white);
  position: absolute;
  opacity: 1;
}
.footer .customer-serv span, .footer .customer-serv p {
  font-size: var(--footer-links-font-size);
  font-weight: 500;
  color: var(--text-color-white);
}
.footer .customer-serv span.only-number {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
.footer .customer-serv svg.fa-envelope {
  font-size: var(--footer-links-font-size);
  color: var(--text-color-white);
}
.footer .customer-serv span.mail {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
.footer .customer-serv span.link a {
  color: var(--text-color-white);
  font-size: var(--footer-links-font-size);
}
.footer .logo img.footer-logo {
  mix-blend-mode: lighten;
}

.copy-right {
  background-color: #E0E0E0;
  overflow: hidden;
  padding: 20px 0px;
}
.copy-right p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.social-links {
  margin-top: 130px;
}
.social-links span {
  margin-inline-end: 6px;
}
.social-links span a {
  color: var(--text-color-white);
  background-color: #F11287;
  margin: 0;
  padding: 0 9px;
  border-radius: 50%;
  margin-block-end: 15px;
  font-size: 15px;
}

.fixed-icons .left-icons {
  left: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35px;
}
.fixed-icons .right-icons {
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 45px;
}
.fixed-icons .left-icons,
.fixed-icons .right-icons {
  position: fixed;
  top: 350px;
  z-index: 999;
  background: linear-gradient(180deg, #00003D 0%, #85868A 100%);
  transition: all 250ms ease-out 0s;
}
.fixed-icons .left-icons:hover,
.fixed-icons .right-icons:hover {
  width: 80px;
  transition: width 250ms ease-out 0s;
}
.fixed-icons .left-icons ul li,
.fixed-icons .right-icons ul li {
  padding: 10px;
}
.fixed-icons .left-icons ul li a,
.fixed-icons .right-icons ul li a {
  color: var(--text-color-white);
  font-size: 15px;
}

@media (max-width: 1024px) {
  .hero .swiper-group .swiper-box .box-imgs {
    width: 350px;
    height: 370px;
  }
  .hero .swiper-group .swiper-box .box-imgs .first-img img.hero-group {
    position: absolute;
    left: 10px;
  }
  .hero .swiper-group .swiper-box .box-imgs .hero-logo {
    position: absolute;
    top: 185px;
    left: 0px;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .top-heading {
    height: auto;
  }
  .top-heading .left-box {
    justify-content: space-around;
  }
  .top-heading .left-box span:nth-child(1) {
    font-size: 13px;
  }
  .top-heading .left-box img.group-one {
    margin-inline-end: 30px;
  }
  .top-heading .left-box .form-switch {
    margin-inline-end: 30px;
  }
  .top-heading .left-box span.A {
    font-size: 16px;
  }
  .top-heading .right-box p:nth-child(1) {
    font-size: 11px;
  }
  .top-heading .right-box p:nth-child(2), .top-heading .right-box p:nth-child(3) {
    font-size: 13px;
  }
  .middle-heading .apps-img button[type=button] {
    font-size: 9px;
  }
  .middle-heading .logo-img img {
    width: 150px;
    height: 120px;
  }
  .another-links .nav {
    justify-content: center;
  }
  .another-links .nav .nav-item .nav-link {
    font-size: 10px;
  }
  .another-links .nav .nav-item .nav-link.active::after {
    position: absolute;
    content: "";
    width: 50px;
    right: 10px;
    bottom: -5px;
  }
  .another-links form {
    justify-content: center;
    margin-top: 20px;
  }
  .another-links form input[type=search] {
    width: 100%;
  }
  .bottom-heading .nav {
    height: auto;
  }
  .bottom-heading .nav .nav-item .nav-link p {
    font-size: 11px;
  }
  .related-parties .owl-carousel .owl-stage .owl-item img {
    width: 70%;
    margin: auto;
  }
  .footer {
    height: auto;
  }
  .footer h3 {
    font-size: 22px;
  }
  .footer ul li {
    margin-bottom: 15px;
  }
  .footer ul li a {
    font-size: 13px;
  }
  .footer .box-img .clipe-shape {
    right: 0;
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(80% 0, 100% 0, 100% 100%, 0% 100%);
    width: 40%;
    height: 100%;
  }
  .footer .box-img .clipe-shape p {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  .footer .customer-serv span, .footer .customer-serv p {
    font-size: 11px;
  }
  .footer .customer-serv span.only-number {
    margin-inline-start: 9px;
    margin-inline-end: 9px;
  }
  .footer .customer-serv svg.fa-envelope {
    font-size: 11px;
  }
  .footer .customer-serv .mail-link {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-inline-start: 10px;
  }
  .footer .customer-serv .mail-link span.mail {
    margin-bottom: 5px;
    margin-inline-start: 0px;
  }
  .footer .customer-serv .mail-link span.link a {
    font-size: 11px;
  }
  .footer .logo .box-imgs {
    display: grid;
    gap: 6px;
  }
  .footer hr {
    width: 60%;
    margin: 15px auto;
    color: var(--text-color-white);
    position: absolute;
    opacity: 1;
  }
  .footer .social-links {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .hero .swiper-horizontal > .swiper-pagination-bullets,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
  .hero .swiper-pagination-custom,
  .hero .swiper-pagination-fraction {
    top: 5px;
    left: 0px;
  }
  .hero .swiper-horizontal > .swiper-pagination-bullets span,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal span,
  .hero .swiper-pagination-custom span,
  .hero .swiper-pagination-fraction span {
    background-color: var(--primary-color);
  }
  .hero .finanace {
    margin-top: 20px;
  }
}/*# sourceMappingURL=main.css.map */