


header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    background: transparent;
    padding: 2rem 0rem;

    .navbar{
        box-shadow: none;
    }
    
    .navbar-brand img {
        width: 140px;
    }


    // .navbar-nav .nav-item{
    //     // padding: 0px;
    //     // margin: 0px;
    // }
    .navbar-nav .nav-item .nav-link{
        // padding: 0px;
        // margin: 0px;
        font-size: 10px;
        color: var(--text-color-white);
        font-weight: bold;
    }   

}

header.scrolled {
    background: var(--primary-color);
    top: 0;
    padding: 0.7rem 0rem;
}

// @media only screen and (max-width: 1200px) and (min-width: 992px){
//     header .nav-item {
//         margin: 0 4px;
//     }
// }
